h1 {
  color: blue;
}
.orange {
  background-color: orange;
  text-align: center;
  line-height: 2;
  letter-spacing: 4px;
  word-spacing: 20px;
}

.yellow {
  background-color: yellow;
}

.font-styles {
  font-family: Verdana;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
  font-size: 50px;
}

ul {
  list-style-type: none;
}

.box-model {
  border: 1px solid red;
  height: 50px;
  width: 300px;
  padding: 20px;
  margin: 50px;
}
