body {
  margin: 0;
}
.container {
  border: 6px solid black;
  display: grid;
  /* height: 800px; */
  /* grid-template-columns: repeat(3, minmax(300px, 1fr)); */
  /* grid-template-rows: repeat(3, 1fr); */
  /* grid-template: repeat(3, 200px) / repeat(3, 200px); */
  /* column-gap: 20px; */
  /* row-gap: 20px; */
  /* gap: 40px 20px; */
  /* grid-auto-flow: column; */
  /* grid-auto-columns: 100px; */
  /* grid-auto-rows: 200px; */
}
.grid-item {
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
}
.item-1 {
  background-color: #b4bf35;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
.item-2 {
  background-color: #b95f21;
  align-self: start;
}
.item-3 {
  background-color: #1c4c56;
}
.item-4 {
  background-color: #cfb276;
}
.item-5 {
  background-color: #6b0803;
}
.item-6 {
  background-color: #cfb276;
}
.item-7 {
  background-color: #b95f21;
}
.item-8 {
  background-color: #01243a;
}
.item-9 {
  background-color: #aad041;
}
